body{
  margin: 0;
  background-color: #212121;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

main, footer{
  max-width: 100rem;
  margin: 0 auto;
}

h1, h3, h5, p, button{ 
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
 }

 a {
  display: flex;
  color: inherit;
  text-decoration: none;
 }

.App{ padding-inline: 1.5rem; }

/*--------- Nav ---------*/
nav{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.menu{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
.menu img { width: 1em; }
.CV {
  display: inline-block;
  background: #557AFF;
  padding: .23em 1.7em; 
  font-size: .8em; 
}

/*--------- Hero ---------*/
.intro{
  font-size: 2.5rem;
  margin-top: 2rem;
}

.title, .animation{
  color: transparent; 
  background-clip: text; 
  background-image: linear-gradient(to right, #821bff, #557AFF);
  font-weight: 900;
}

.title > div{
  display: inline-block;
  width: 13rem;
  background-color: #161616;
  padding-inline: .7rem;
}

.animation::after{
  display: inline-block;
  content:' ';
  width: 1.5rem;
  height: .5rem;
  background-color: white;
  margin-left: .5rem;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*--------- Section ---------*/
section{
  text-align: center;
  margin: 3rem auto;
}
section h5 { margin-bottom: 1rem; }

.showcase{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  overflow: scroll;
}

.showcase img{
  width: 19rem;
  aspect-ratio: 2.39/1;
  object-fit: cover;
}

footer{
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}


@media (min-width: 768px) {
  .App{ padding-inline: 4.3rem; }

/*--------- Nav ---------*/
  nav{
    margin-top: 3.38rem;
    font-size: 2rem;
  }
  .menu{ gap: 3.86rem; }

/*--------- Hero ---------*/
  .intro{
    font-size: 4.3125rem;
    margin-top: 5rem;
  }
  .title > div{ 
    padding-inline: 1rem;
    width: 22rem;
  }
  .animation::after{
    width: 2.3rem;
    height: .8rem;
  }

/*--------- Section ---------*/
section{
  font-size: 1.8125rem;
  margin: 6.25rem auto;
}
.showcase img{ width: 37.5rem; }
section h5 { margin-bottom: 4.12rem; }
}