body{
  margin: 0;
  background-color: #212121;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

main, footer{
  max-width: 100rem;
  margin: 0 auto;
}

h1, h3, h5, p, button{ 
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
 }

 a {
  display: flex;
  color: inherit;
  text-decoration: none;
 }

.App{ padding-inline: 1.5rem; }

/*--------- Nav ---------*/
nav{
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.menu{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
.menu img { width: 1em; }
.CV {
  display: inline-block;
  background: #557AFF;
  padding: .23em 1.7em; 
  font-size: .8em; 
}

/*--------- Hero ---------*/
.intro{
  font-size: 2.5rem;
  margin-top: 2rem;
}

.title, .animation{
  color: transparent; 
  background-clip: text; 
  background-image: linear-gradient(to right, #821bff, #557AFF);
  font-weight: 900;
}

.title > div{
  display: inline-block;
  width: 13rem;
  background-color: #161616;
  padding-inline: .7rem;
}

.animation::after{
  display: inline-block;
  content:' ';
  width: 1.5rem;
  height: .5rem;
  background-color: white;
  margin-left: .5rem;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*--------- Section ---------*/
section{
  text-align: center;
  margin: 3rem auto;
}
section h5 { margin-bottom: 1rem; }
.projects-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.project{
  display: initial;
  background-color: #161616;
  filter: drop-shadow(0 0 1rem #161616);
  max-width: 30rem;
  cursor: pointer;
  box-sizing: border-box;
}
.project img { width: 100%; }
.project > div{ padding: 1em; }
.project div p { margin-bottom: 2rem; }

.filters{
  display: flex;
  flex-wrap: wrap;
}
.filters span{
  font-size: .7rem;
  padding: .2em .7em;
  border-radius: 1rem;
  margin: .3em;
}

.black{ color: #161616; }
.blue{ background-color: #306af1; }
.yellow { background-color: #f7e025; }
.cyan { background-color: #5ed3f3; }
.orange { background-color: #f16a30; }

footer{
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .App{ padding-inline: 4.3rem; }

/*--------- Nav ---------*/
  nav{
    margin-top: 3.38rem;
    font-size: 2rem;
  }
  .menu{ gap: 3.86rem; }

/*--------- Hero ---------*/
  .intro{
    font-size: 4.3125rem;
    margin-top: 5rem;
  }
  .title > div{ 
    padding-inline: 1rem;
    width: 22rem;
  }
  .animation::after{
    width: 2.3rem;
    height: .8rem;
  }

/*--------- Section ---------*/
section{
  font-size: 1.8125rem;
  margin: 6.25rem auto;
}
.project{ min-height: 38.5rem; }
.filters span{ font-size: 1rem; }
section h5 { margin-bottom: 4.12rem; }
}